body {

     background-image: url("/img/bgimg.jpg");

 }

 .bg {

      position: absolute;
      width: 76vw;
      height: 75vh;
      background-color: #0E0F26;
      opacity: 0.8;
      left: 12vw;
      top: 15vh;
      border-radius: 25px;
      color: white;


  }

.dayweat {

    position: absolute;
    left: 10%;
    top: 13%;
    width: 60vw;
    height: 25vh;
    background-color: grey;
    border-radius: 25px;

}

.timeofday {

    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 60vw;


}

.tempw {

    background-color: grey;
    display: inline-block;
    width: 15vw;
    height: 23vh;
    border-radius: 25px;

}

.af {

    margin-left: 12%;


}

.ev {

    margin-left: 12%;


}

.tempzac {

    float: left;
    height: 100%;

    }

.a {

    width: 30%;
    display: inline-block;

}

.b {

    width: 40%;
    font-size: 100px;
    text-align: center;
    margin: 0px;
    padding: 0px;

}

.c {

    width: 15%;
    display: block;
    padding-top: 1%;

}

.d {

    width: 15%;
    display: block;
    font-size: 40px;


}

.temp{

    position: absolute;
    font-size: 180px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 8%;
    margin-top: 3%;
    font-weight: bold;

}

.celc {

    position: relative;
    float: right;
    right: 15%;
    top: 13%;
    font-size: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;

}



.img {

    position: relative;
    left: 15%;
    width: 100px;
    height: 100px;
    margin: 5%;
    margin-top: 0%;

}


.prc{

    margin-top: 60px;
}

