body {

     background-image: url("/img/bgimg.jpg");

 }

 .bg {

      position: absolute;
      width: 76vw;
      height: 75vh;
      background-color: #0E0F26;
      opacity: 0.8;
      left: 12vw;
      top: 15vh;
      border-radius: 25px;
      color: white;


  }

.dayweat {

    position: absolute;
    left: 10%;
    top: 13%;
    width: 60vw;
    height: 25vh;
    background-color: grey;
    border-radius: 25px;

}

.timeofday {

    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 60vw;

}

.timeofday h3{

    background-color: white;
    height: 40px;
    margin: 0;
    border-radius: 25px;
    color: black;
    text-align: center;
    padding-top: 15px;


}

.tempw {

    background-color: grey;
    display: inline-block;
    width: 15vw;
    height: 25vh;
    border-radius: 25px;

}

.af {

    margin-left: 12%;


}

.ev {

    margin-left: 12%;


}

.tempw img{

    height: 120px;
    width: 120px;
    float: left;
    left: 10%;
    margin: 0px;
    top: 25px;

}


.temp1{

    position: relative;
    float: right;
    right: 5%;
    top: 45px;
    margin: 0px;
    font-size: 80px;
    text-align: center;

}

.celc1 {

    position: relative;
    float: right;
    right: 5%;
    top: 15%;
    font-size: 20px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;

}


.tempzac {

    float: left;
    height: 100%;

    }

.a {

    width: 30%;
    display: inline-block;

}

.b {

    width: 40%;
    font-size: 80px;
    text-align: center;
    margin: 0px;
    padding: 0px;

}

.c {

    width: 15%;
    display: block;
    padding-top: 1%;

}

.d {

    width: 15%;
    display: block;
    font-size: 20px;
    padding-top: 10px;

}

.temp{

    position: absolute;
    font-size: 180px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 8%;
    margin-top: 2%;
    font-weight: bold;

}

.celc {

    position: relative;
    float: right;
    right: 15%;
    top: 13%;
    font-size: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;

}



.c .img1 {

    position: relative;
    left: 15%;
    width: 110px;
    height: 110px;
    margin: 5%;
    margin-top: 0%;

}

.c .img2 {

    position: relative;
    left: 15%;
    width: 80px;
    height: 80px;
    margin: 15%;
    margin-top: 0%;


}

.img {

    position: relative;
    left: 15%;
    width: 80px;
    height: 80px;
    top: 150px;
    margin: 25%;

}

.dsc{

    position: relative;
    top: 25px;

}

.prc{

    position: absolute;
    bottom: 30px;
}

.inps {

    position: relative;
    display: inline-block;
    left: 42%;
    top: 8%;
    width: 16%;
    height: 55px;
    z-index: 3;

}

.inps input {

    position: absolute;
    width: 100px;
    text-align: center;
    height: 55px;
    border-radius: 20px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;

}

.sec{

    right: 0px;
    margin-left: 10px;

}

.fom1 {

    width: 45%;
}

.nmcit {

    position: absolute;
    background: transparent;
    color: transparent;
    border: none;

}