body {

     background-image: url("/img/bgimg.jpg");

 }

 .bg {

      position: absolute;
      width: 76vw;
      height: 75vh;
      background-color: #0E0F26;
      opacity: 0.8;
      left: 12vw;
      top: 15vh;
      border-radius: 25px;
      color: white;

  }

 .city {

     position: absolute;
     width: 30vw;
     height: 60px;
     left: 35vw;
     top: 13vh;
     background-color: aqua;
     text-align: center;
     border-radius: 30px;
     border: 0;
     font-size: 30px;
     font-weight: bold;

 }

 .block{

     position: relative;
     width: 90%;
     height: 80%;
     top: 12%;
     left: 5%;

 }

.fom {

    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;

}

 .inpcrrday {

    position:absolute;
    width: 270px;
    height: 245px;
    border: 0;
    border-radius: 30px;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
 }

 .block1 {

     position: relative;
     width: 270px;
     height: 245px;
     display: inline-block;
     background-color: blueviolet;
     border: 0;
     border-radius: 30px;

 }

 .day {

     position: absolute;
     width: 100%;
     background-color: white;
     padding-top:  15px;
     padding-bottom: 15px;
     height: 25px;
     border: 0;
     bottom: 0px;
     margin: 0px;
     font-size: 20px;
     border-radius: 25px;
     text-align: center;
     color: black;

 }


 .sec {

     display: inline-flex;

 }

 .degrees {

     position: absolute;
     right: 18%;
     color: white;
     font-size: 80px;
     margin: 0;
     margin-top: 25%;
     margin-left: 5%;

 }

 .celc {

     position: absolute;
     font-size: 30px;
     right: 7%;
     margin-left: 0px;
     margin-top: 20%;

 }

 .imag {

     position: absolute;
     left: 7%;
     margin-top: 13%;
     height: 120px;
     width: 120px;

 }

 .descripweather {

        visibility: hidden;

 }
