<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Current Weather</title>
    <link href="css/citysearch.css" rel="stylesheet" type="text/css">
</head>
<body>


<div class="bg">


    <div  class="bgsque" method="post" >


        <div>
            <p>Sprawdz pogodę w swoim mieście!</p>

        </div>

        <div class="inppp">

            <form action="/week-weather" method="GET">

                <input class="inpser" type="text" name="city"  id="city">
                <input class="sebutt" type="submit"   value="Sprawdź" />

            </form>
        </div>
    </div>

</div>
</body>
</html>