<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Weather</title>
    <link href="css/ccrstyle.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="bg">

    <form action="/week-weather" method="GET">
        <tr>
            <td><input th:value="${currentWeather.cityName}" name="city" ></td>
            <input  type="submit" value="Back to week weather"  >
        </tr>

    </form>


    <div class="dayweat">


        <!--
                <div class="tempzac1">
                    <p class="temp" th:text="${currentWeather.temperature} + ' &#8451;'">22</p>
                    <p class="celc" th:text="' &#8451;'">&#8451;</p>
                </div>
                <div class="tempzac2 name">
                    <p th:text="${currentWeather.cityName}">Wrocław</p>
                </div>
                <div>
                    <img class="img" src="/img/clouds.png" alt="Girl in a jacket" >
                    <img class="img" src="/icons/storm.png" alt="Girl in a jacket" >
                </div>
                <div class="tempzac3 desc">
                    <p th:text="${currentWeather.description}">Cloud</p>
                </div>
                <div class="tempzac4 clau">
                    <p th:text="${currentWeather.cloudPer} + ' %'">22%</p>
                </div>
        -->


        <div class="tempzac a">
            <p class="temp" th:text="${currentWeather.temperature}">22</p>
            <p class="celc" th:text="' &#8451;'">&#8451;</p>
        </div>
        <div class="tempzac b">
            <p th:text="${currentWeather.cityName}">Wrocław</p>
        </div>
        <div class="tempzac c">
            <img class="img" src="/icons/storm.png" alt="Girl in a jacket" >
            <img class="img" src="/icons/storm.png" alt="Girl in a jacket" >
        </div>
        <div class="tempzac d">
            <p th:text="${currentWeather.description}">Cloud</p>
            <p class="prc" th:text="${currentWeather.cloudPer} + ' %'">22%</p>
        </div>

    </div>

    <div class="timeofday">


        <div class="tempw">

            <h3>Morning              .</h3>
            <p th:text="${dayWeather.morningTemp} + ' &#8451;'">Morning temp           .</p>

        </div>

        <div class="tempw af">

            <h3>Midday          .</h3>
            <p th:text="${dayWeather.middayTemp} + ' &#8451;'">midday temp            .</p>
        </div>

        <div class="tempw ev">

            <h3>Evening</h3>
            <p th:text="${dayWeather.eveningTemp} + ' &#8451;'">Evening temp           .</p>

        </div>

    </div>



</div>

</body>
</html>