<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Weather</title>
    <link href="css/home.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="bg">

    <form action="/week-weather" method="GET">
        <tr>
            <td><input th:value="${currentWeather.cityName}" name="city" ></td>
            <input  type="submit" value="Back to week weather"  >
        </tr>

    </form>


    <div class="dayweat">


        <div class="tempzac temp">
            <p th:text="${currentWeather.temperature} + ' &#8451;'">Temperature</p>
        </div>
        <div class="tempzac name">
            <p th:text="${currentWeather.cityName}">City name</p>
        </div>
        <div class="tempzac desc">
            <p th:text="${currentWeather.description}">Description</p>
        </div>
        <div class="tempzac clau">
            <p th:text="${currentWeather.cloudPer} + ' %'">Zachmurzenie</p>
        </div>

        <img src="/img/clouds.png" alt="Girl in a jacket" >


    </div>

    <div class="timeofday">


        <div class="tempw">

            <h3>Morning              .</h3>
            <p th:text="${dayWeather.morningTemp} + ' &#8451;'">Morning temp           .</p>

        </div>

        <div class="tempw af">

            <h3>Midday          .</h3>
            <p th:text="${dayWeather.middayTemp} + ' &#8451;'">midday temp            .</p>
        </div>

        <div class="tempw ev">

            <h3>Evening</h3>
            <p th:text="${dayWeather.eveningTemp} + ' &#8451;'">Evening temp           .</p>

        </div>

    </div>



</div>

</body>
</html>