<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Weather</title>
    <link href="css/weekstyle.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="bg">


    <form action="/current-weather" method="GET">
        <tr>
            <td><input th:value="${currentWeather.cityName}" name="city" ></td>
            <input  type="submit" value="Current Day"  >
        </tr>

    </form>


<!--    Clouds, Clear, Mist, Snow, Rain, Drizzle, Thunderstorm-->

    <!--        <input id="as" value="piotraek">-->

    <!--
            <img id="obrazek" src="/icons/sun.png" alt="Girl in a jacket" width="500" height="600">
            <script type="text/javascript" charset="utf-8">

                var img = document.getElementById('obrazek');

                if(document.getElementById("as").value == "piotrek"){
                   document.getElementById("obrazek").src="/icons/storm.png";
               }else{

                    document.getElementById("obrazek").src="/icons/sun.png";

               }
            </script>
    -->

    <div class="block">
        <div>
            <h3>City Name</h3>
            <p th:text="${futureWeather.city}">City name</p>
            <input  type="submit" value="Current Day"  >
        </div>
        <div>
            <p th:text="${futureWeather.day1}">1</p>
            <p th:text="${futureWeather.curentDayTemp}">1</p>
        </div>
        <div>
            <p th:text="${futureWeather.day2}">2</p>
            <p th:text="${futureWeather.secendDayTemp}">2</p>
        </div>
        <div>
            <p th:text="${futureWeather.day3}">3</p>
            <p th:text="${futureWeather.thirdDayTemp}">3</p>
        </div>
        <div>
            <p th:text="${futureWeather.day4}">4</p>
            <p th:text="${futureWeather.fourthDayTemp}">4</p>
        </div>
        <div>
            <p th:text="${futureWeather.day5}">5</p>
            <p th:text="${futureWeather.fifthDayTemp}">5</p>
        </div>
        <div>
            <p th:text="${futureWeather.day6}">6</p>
            <p th:text="${futureWeather.sixthDayTemp}">6</p>
        </div>
        <div>
            <p th:text="${futureWeather.day7}">7</p>
            <p th:text="${futureWeather.seventhDayTemp}">7</p>
        </div>
        <div>
            <p th:text="${futureWeather.day8}">8</p>
            <p th:text="${futureWeather.eighthDayTemp}">8</p>
        </div>

    </div>
</div>

</body>
</html>