<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Weather</title>
    <link href="css/weekstyle.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="bg">

    <form action="/current-weather" method="GET">
        <tr>
            <td><input th:value="${currentWeather.cityName}" name="city" ></td>
            <input  type="submit" value="Current Day"  >
        </tr>

    </form>


    <div class="block" >

        <form class="fom" action="/dayweather0" method="GET">
            <div class="block1 sec" type="submit" >
                <p class="day" th:text="${futureWeather.day1}">poniedziałek</p>
                <p class="degrees" th:text="${futureWeather.curentDayTemp}">16</p>
                <p class="celc">&#x2103;</p>
                <img id="pic1" class="imag" src="img/sun.png">
                <p id="dw1" class="descripweather" th:text="${futureWeather.description1}"> </p>
                <input class="inpcrrday" type="submit" th:value="${currentWeather.cityName}" name="city" >
            </div>
        </form>

        <form class="fom" action="/dayweather1" method="GET">
            <div class="block1 sec">
                <p class="day" th:text="${futureWeather.day2}">poniedziałek</p>
                <p class="degrees" th:text="${futureWeather.secendDayTemp}">22</p>
                <p class="celc">&#x2103;</p>
                <img id="pic2" class="imag" src="img/sun.png">
                <p id="dw2" class="descripweather" th:text="${futureWeather.description2}" > </p>
                <input class="inpcrrday" type="submit" th:value="${currentWeather.cityName}" name="city" >
            </div>
        </form>
        <form class="fom" action="/dayweather2" method="GET">
            <div class="block1 sec">
                <p  class="day" th:text="${futureWeather.day3}">poniedziałek3</p>
                <p  class="degrees" th:text="${futureWeather.thirdDayTemp}">33</p>
                <p class="celc">&#x2103;</p>
                <img id="pic3" class="imag" src="img/sun.png">
                <p  id="dw3" class="descripweather" th:text="${futureWeather.description3}" > </p>
                <input class="inpcrrday" type="submit" th:value="${currentWeather.cityName}" name="city" >
            </div>
        </form>
        <form class="fom" action="/dayweather3" method="GET">
            <div class="block1 sec">
                <p class="day" th:text="${futureWeather.day4}">4poniedziałek</p>
                <p class="degrees" th:text="${futureWeather.fourthDayTemp}">24</p>
                <p class="celc">&#x2103;</p>
                <img id="pic4" class="imag" src="img/sun.png">
                <p id="dw4" class="descripweather" th:text="${futureWeather.description4}" > </p>
                <input class="inpcrrday" type="submit" th:value="${currentWeather.cityName}" name="city" >
            </div>
        </form>
        <form class="fom" action="/dayweather4" method="GET">
            <div class="block1 sec">
                <p class="day" th:text="${futureWeather.day5}">poniedziałek</p>
                <p class="degrees" th:text="${futureWeather.fifthDayTemp}">25</p>
                <p class="celc">&#x2103;</p>
                <img id="pic5" class="imag" src="img/sun.png">
                <p id="dw5" class="descripweather" th:text="${futureWeather.description5}" > </p>
                <input class="inpcrrday" type="submit" th:value="${currentWeather.cityName}" name="city" >
            </div>
        </form>
        <form class="fom" action="/dayweather5" method="GET">
            <div class="block1 sec">
                <p class="day" th:text="${futureWeather.day6}">poniedziałek</p>
                <p class="degrees" th:text="${futureWeather.sixthDayTemp}">62</p>
                <p class="celc">&#x2103;</p>
                <img id="pic6" class="imag" src="img/sun.png">
                <p id="dw6" class="descripweather" th:text="${futureWeather.description6}" > </p>
                <input class="inpcrrday" type="submit" th:value="${currentWeather.cityName}" name="city" >
            </div>
        </form>
        <form class="fom" action="/dayweather6" method="GET">
            <div class="block1 sec">
                <p class="day" th:text="${futureWeather.day7}">poniedziałek</p>
                <p class="degrees" th:text="${futureWeather.seventhDayTemp}">27</p>
                <p class="celc">&#x2103;</p>
                <img id="pic7" class="imag" src="img/sun.png">
                <p id="dw7" class="descripweather" th:text="${futureWeather.description7}" > </p>
                <input class="inpcrrday" type="submit" th:value="${currentWeather.cityName}" name="city" >
            </div>
        </form>
        <form class="fom" action="/dayweather7" method="GET">
            <div class="block1 sec">
                <p class="day" th:text="${futureWeather.day8}">poniedziałek</p>
                <p class="degrees" th:text="${futureWeather.eighthDayTemp}">28</p>
                <p class="celc">&#x2103;</p>
                <img id="pic8" class="imag" src="img/sun.png">
                <p id="dw8" class="descripweather" th:text="${futureWeather.description8}" > </p>
                <input class="inpcrrday" type="submit" th:value="${currentWeather.cityName}" name="city" >
            </div>
        </form>


        <script type="text/javascript" charset="utf-8">

                var img = document.getElementById('obrazek');

                var tab = ["pic1", "pic2", "pic3", "pic4", "pic5", "pic6", "pic7", "pic8"];
                var tab2 = ["dw1", "dw2", "dw3", "dw4", "dw5", "dw6", "dw7", "dw8"];

                console.log(tab);

                for (let i=0; i<tab.length; i++) {

                        var el = tab[i];
                        var el2 = tab2[i];

                        console.log(el);
                        console.log(el2);

                        if(document.getElementById(el2).innerHTML == "Storm"){
                           document.getElementById(el).src="/img/storm.png";
                        }else if(document.getElementById(el2).innerHTML == "Drizzle"){
                           document.getElementById(el).src="/img/drizzle.png";
                        }else if(document.getElementById(el2).innerHTML == "Mist"){
                           document.getElementById('el').src="/img/mist.png";
                        }else if(document.getElementById(el2).innerHTML == "Rain"){
                           document.getElementById(el).src="img/rain.png";
                        }else if(document.getElementById(el2).innerHTML == "Snow"){
                           document.getElementById(el).src="/img/snow.png";
                        }else if(document.getElementById(el2).innerHTML == "Clear"){
                           document.getElementById(el).src="/img/sun.png";
                        }else if(document.getElementById(el2).innerHTML == "Sun"){
                           document.getElementById(el).src="/img/sun.png";
                        }else if(document.getElementById(el2).innerHTML == "Wind"){
                           document.getElementById(el).src="/img/wind.png";
                        }else if(document.getElementById(el2).innerHTML == "Clouds"){
                           document.getElementById(el).src="/img/clouds.png";
                        }

                }


        </script>



    </div>
</div>

<input class="city" value="Wrocław">

</body>
</html>